CoffeepayDemo005/cocos2d
CoffeepayDemo005/proj.ios_mac/CoffeepayDemo005.xcodeproj/project.pbxproj
CoffeepayDemo005/proj.ios_mac/CoffeepayDemo005.xcodeproj/project.xcworkspace/xcshareddata/CoffeepayDemo005.xccheckout
CoffeepayDemo005/proj.ios_mac/CoffeepayDemo005.xcodeproj/project.xcworkspace/xcuserdata/gwakdoyoung.xcuserdatad/UserInterfaceState.xcuserstate
CoffeepayDemo005/proj.ios_mac/ios/Info.plist
